#define PIN_LED_STRIP D4
#define PIXEL_COUNT 30

#define MQTT_PASSWORD ""
#define MQTT_USER ""
#define MQTT_HOST ""
#define MQTT_PORT 8883

#define MQTT_SET_TOPIC "home/living_room/led_strip/desk/set"
#define MQTT_STATE_TOPIC "home/living_room/led_strip/desk"
#define MQTT_RESET_TOPIC ""
#define MQTT_DEEP_SLEEP_TOPIC ""

#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#define OTA_HOST "desk_led_strip"
#define OTA_PORT 8266
#define OTA_PASSWORD ""
